html {
  scroll-behavior: smooth;

}
body{
 position: relative;
font-family: 'Josefin Sans', sans-serif;
}

.main{
 
    min-height: 100vh;
    background-color: #fccdd3;
    
    color: white;
    
}

hr{
  width: 10rem;
  border-top: 5px solid;

}
.title{
  padding-top: 15%;
}
.subtitle{
  font-family: 'Satisfy', cursive;

  color: white;
}

.icon-material .path1:before {
  content: "\e900";
  color: #00b0ff;
}
.icon-material .path2:before {
  content: "\e901";
  color: #0081cb;
  margin-left: -1.2587890625em;
}
.icon-material .path3:before {
  content: "\e902";
  color: #00b0ff;
  margin-left: -1.2587890625em;
}
.icon-material .path4:before {
  content: "\e903";
  color: #0081cb;
  margin-left: -1.2587890625em;
}

  .section::before{ 
    display: block; 
    content: " "; 
    margin-top: -200px; 
    height: 200px; 
    visibility: hidden; 
  }
  .projects{
    margin: 5rem 0 5rem 0;
    font-size: 1rem;
  }
 .sans{
    max-width: 40rem;
    font-family: 'Open sans';
    
  }
  

  .sans a{
    color: black;
  }
 

 i[class*="devicon"]{
    font-size: 3rem;
  }

  img{
    width: 40rem;
    height: 60rem;
    margin-bottom: 2rem;
  }
  
   .contact{
  
     /* background-color: #bbc4ef; */
    background-color: #fccdd3;

     padding-bottom: 5rem;
    color:white;
   }
   

  .wrapper {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
  }
  
  i {
    padding-right: 10px;
  }
  
  .wrapper i:nth-child(1) {
    color: #4867AA;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
  }
  
  .wrapper i:nth-child(1):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
  }
  
  .wrapper i:nth-child(2) {
    color: #1DA1F2;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
  }
  
  .wrapper i:nth-child(2):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
  }
  
  .wrapper i:nth-child(3) {
    color: #444;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 150ms;
  }
  
  .wrapper i:nth-child(3):hover {
    margin-top: -10px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    transform: translate(0, -5);
  }
  .wrapper i:nth-child(4) {
    color: #fffc00;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
  }
  .wrapper i:nth-child(4):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
  }
  footer{
      text-align: center;
      height: 55px;
      
  }
  .material-icon{
    height: 3rem;
    width: 3rem;
  }
 
  
  .overflow-hidden { overflow: hidden; }